.header {
	background-image: url('https://www.delivereh.ca/asset/theme/images/banner/delivereh-timeline.png');
	height: 450px;
	background-position: center 65%;
	background-repeat: no-repeat;
	background-size: cover;
}
