.new-home {
	background-image: url('https://media.gettyimages.com/photos/aerial-view-of-a-young-woman-delivering-a-bag-of-vegetables-and-fruit-picture-id1217632926?s=2048x2048');
	height: 100vh;
	background-size: cover;
	background-position-y: 50px;
}
